
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../scss/index.scss">
    <title>Register</title>
</head>
<body>
    <main class="auth-page centered-page">
        <form class="card">
            <h1 class="card__title">Sign up</h1>

            {{> input for="email" label="Email" id="email" name="email" type="email" placeholder="Type your email..."}}
            {{> input for="login" label="Login" id="login" name="login" type="login" placeholder="Type your login..."}}
            {{> input for="first_name" label="First name" id="first_name" name="first_name" type="text" placeholder="Type your first name..."}}
            {{> input for="second_name" label="Second name" id="second_name" name="second_name" type="text" placeholder="Type your second name..."}}
            {{> input for="phone" label="Phone" id="phone" name="phone" type="text" placeholder="Type your last phone..."}}
            {{> input for="password" label="Password" id="password" name="password" type="password" placeholder="Type your password..."}}

            {{> button type="submit" text="Sign up" className="btn-primary"}}

            <nav class="card-navigation">
                <a href="/" class="card__link">Already have an account?</a>
            </nav>
        </form>
    </main>     
</body>
</html>
