.textfield-search {
    width: 100%;
    margin-top: 3rem;

    &__input {
        width: 100%;
        background: #fff;
        border-radius: $input-border-radius;
        padding: .8rem 1.5rem;
        border: none;
        color: $dark-color;

        &::placeholder {
            color: $secondary-text-light;
        }
    }
}
