.chat {
    width: 70%;
    background: $secondary-bg;
    height: 100%;
    padding: 3rem 3.4rem;
    border-radius: $primary-border-radius;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-header {
        width: 100%;
        border-bottom: 1px solid #cecece;
        padding-bottom: 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .options {
            position: relative;

            &-menu {
                cursor: pointer;
            }

            &-list {
                transform: translateY(-1rem);
                opacity: 0;
                z-index: -9999;
                width: 15rem;
                position: absolute;
                top: 2rem;
                right: 0;
                background: #FFFFFF;
                box-shadow: $main-shadow;
                border-radius: .8rem;
                color: $dark-color;
                overflow: hidden;

                &.active {
                    transform: translateY(0);
                    opacity: 1;
                    z-index: 9999;
                }

                &__item {
                    padding: 1rem;
                    cursor: pointer;

                    &:hover {
                        background: rgba(24, 109, 238, 0.11);
                    }
                }
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 1rem;

            &__image {
                width: 5rem;
                height: 5rem;
                background: $secondary-text-light;
                border-radius: 50%;
                overflow: hidden;
            }

            &__name {
                font-weight: 400;
                font-size: 1.8rem;
                color: #000000;
            }
        }
    }

    &-body {
        padding: 1rem 0 0 0;
        height: 100%;
        margin-bottom: 1rem;
    }

    &-footer {
        width: 100%;
        margin-top: auto;

        .chat-panel {
            background: #fff;
            display: flex;
            padding: .6rem 1.6rem;
            border-radius: $primary-border-radius;
            display: flex;
            align-items: center;

            &__icon {
                height: 2rem;
                cursor: pointer;
            }

            .textfield {
                width: 100%;
                padding: 10px;
                margin: 0;

                &__input {
                    border: none;
                    padding: 1rem;
                    color: $dark-color;

                    &::placeholder {
                        color: $secondary-text-light;
                    }
                }
            }



            &__submit {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                margin-left: auto;
                border: none;
                background: $primary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .submit__icon {
                    width: 1.9rem;
                    height: 1.6rem;
                }
            }
        }
    }
}
