<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../scss/index.scss">
    <title>Change password</title>
</head>
<body>
    
    <div class="profile-page centered-page">
        <div class="card">
           
            <form>
                {{> input for="oldPassword" label="Old password" id="oldPassword" name="oldPassword" type="password" placeholder="Type your new password..."}}
                {{> input for="newPassword" label="New password" id="newPassword" name="newPassword" type="password" placeholder="Type your new password..."}}


                {{> button text="Save" type="submit" className="btn-primary"}}
            </form>

            <a href="../profile/profile.hbs" class="card__link text-primary">Cancel</a>

        </div>
    </div>

</body>
</html>