$secondary-bg: #f9fafb;
$primary-border-radius: 1.5rem;
$primary-color: #186dee;
$secondary-text: #696969;
$secondary-text-light: #69696974;
$input-border-radius: .8rem;
$dark-color: rgb(18, 18, 18);
$message-bg: #f2f2f2;
$danger-color: #ff0000;
$main-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
