<ul class="chats-list">
    <li class="chats-list__item active">
        <div class="avatar"></div>
        <div class="user">
            <p class="user__name">John Doe</p>
            <p class="user__message">Hey, yo, What's up?asdsadsadsdasdsadsa</p>
        </div>
        <div class="info">
            <p class="info__time">12:33</p>
    
        </div>
    </li>

    <li class="chats-list__item">
        <div class="avatar"></div>
        <div class="user">
            <p class="user__name">John Doe</p>
            <p class="user__message">Hey, yo, What's up?asdsadsadsdasdsadsa</p>
        </div>
        <div class="info">
            <p class="info__time">12:33</p>
            <p class="info__counter">2</p>
        </div>
    </li>
</ul>
