<ul class="chats-list">
    <li class="chats-list__item active">
        <div class="avatar"></div>
        <div class="user">
            <span class="user__name">John Doe</span>
            <span class="user__message">Hey, yo, What's up?asdsadsadsdasdsadsa</span>
        </div>
        <div class="info">
            <span class="info__time">12:33</span>
    
        </div>
    </li>

    <li class="chats-list__item">
        <div class="avatar"></div>
        <div class="user">
            <span class="user__name">John Doe</span>
            <span class="user__message">Hey, yo, What's up?asdsadsadsdasdsadsa</span>
        </div>
        <div class="info">
            <span class="info__time">12:33</span>
            <span class="info__counter">2</span>
        </div>
    </li>
</ul>