<div class="modal">
    <div class="modal-overflow"></div>
    <div class="modal-dialog">
        <div class="modal-header">
            <h2 class="modal__title">Upload the file</h2>
        </div>
        
       <div class="modal-body">
            <span class="upload__button">Choose from computer...</span>
       </div>

        <div class="modal-footer">
            {{> button text="Save" type="button" className="btn-primary"}}
            
            <span class="modal__error">Choose file</span>
        </div>
    </div>
</div>