<div class="messages">
    <span class="messages__date">Today</span>
    <ul class="messages-list">
        <li class="messages-list__item">
            <div class="message">
                <span class="message__text">Hey What's Up?</span>
                <span class="time">12:47</span>
            </div>
        </li>
        <li class="messages-list__item me">
            <div class="message me">
                <span class="message__text">not much, you?</span>
                <span class="time">12:57</span>
            </div>
        </li>
    </ul>
</div>