<div class="messages">
    <p class="messages__date">Today</p>
    <ul class="messages-list">
        <li class="messages-list__item">
            <div class="message">
                <p class="message__text">Hey What's Up?</p>
                <p class="time">12:47</p>
            </div>
        </li>
        <li class="messages-list__item me">
            <div class="message me">
                <p class="message__text">not much, you?</p>
                <p class="time">12:57</p>
            </div>
        </li>
    </ul>
</div>
