<div class="modal">
    <div class="modal-overflow"></div>
    <div class="modal-dialog">
        <div class="modal-header">
            <h2 class="modal__title">Upload the file</h2>
        </div>
        
       <div class="modal-body">
            {{> input label="User login" for="login" name="login" id="login" type="text" placeholder="Type user login..."}}
       </div>

        <div class="modal-footer">
            {{> button text="Save" type="button" className="btn-primary"}}
        </div>
    </div>
</div>